* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 100px 0;
  background-color: #333;
  min-height: 100vh;
  display: flex;

  justify-content: center;
}

body div {
  width: 750px;
}